@{
    ViewData["Title"] = "Case Manager 1 Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:darkslategray;font-size:30px;">Case Manager: Sam! Records</h1>
   
</div>
<br />
<div class="text-center">
    <a asp-action="Admin1Record" class="btn btn-primary">Case Manager: Offences By Sam </a>
</div>