@{
    ViewData["Title"] = "Case Manager 2 Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:darkslategray;font-size:30px;">Case Manager: police officer! Records</h1>

</div>
<br />
<div class="text-center">
    <a asp-action="Admin2Record" class="btn btn-primary">Case Manager: Offences By Police Officer </a>
</div>
