@{
    ViewData["Title"] = " Home Page";
}

<div class="header">
    <h1 class="display-4" >South African Police Service App</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<div class="text-center">
    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Begin </a>
</div>